# Part 1. 판다스 입문

## 2. 판다스 자료구조

### 2-1. 시리즈

In [ ]:
# pandas 불러오기 
import pandas as pd

In [ ]:
# k:v 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = {'a': 1, 'b': 2, 'c': 3}

In [ ]:
dict_data

In [ ]:
# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장 
sr = pd.Series(dict_data)

In [ ]:
sr

In [ ]:
# 변수 sr의 자료형 출력
print(type(sr))
sr

In [ ]:
# 리스트를 시리즈로 변환하여 변수 sr에 저장
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)
print('\n')

In [ ]:
# 인덱스 배열은 변수 idx에 저장. 데이터 값 배열은 변수 val에 저장
idx = sr.index
val = sr.values
idx

In [ ]:
# 인덱스 배열은 변수 idx에 저장. 데이터 값 배열은 변수 val에 저장
idx = sr.index
val = sr.values
idx

In [ ]:
val

In [ ]:
# 투플을 시리즈로 변환(index 옵션에 인덱스 이름을 지정)
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
sr

In [ ]:
# 원소를 1개 선택
print(sr[0])       # sr의 1 번째 원소를 선택 (정수형 위치 인덱스를 활용)
print(sr['이름'])  # '이름' 라벨을 가진 원소를 선택 (인덱스 이름을 활용)
print('\n')

In [ ]:
# 여러 개의 원소를 선택 (인덱스 리스트 활용)
print(sr[[1, 2]]) 
print('\n')           
print(sr[['생년월일', '성별']])
print('\n')

In [ ]:
# 여러 개의 원소를 선택 (인덱스 범위 지정)
print(sr[1 : 2])  
print('\n')              
print(sr['생년월일' : '성별'])

### 2-2. 데이터프레임

In [ ]:
# 열이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

In [ ]:
dict_data

In [ ]:
# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환. 변수 df에 저장. 
df = pd.DataFrame(dict_data)

In [ ]:
df

In [ ]:
# df의 자료형 출력
print(type(df))

In [ ]:
# 변수 df에 저장되어 있는 데이터프레임 객체를 출력
df

In [ ]:
df.columns.name = 'temp'

In [ ]:
df.columns

In [ ]:
# 행 인덱스/열 이름 지정하여, 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], 
                   index=['준서', '예은'],
                   columns=['나이', '성별', '학교'])

In [ ]:
df#['학교']

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
# 행 인덱스, 열 이름 변경하기
df.index = ['학생1', '학생2']

In [ ]:
df.index

In [ ]:
df.columns = ['연령', '남녀', '소속']

In [ ]:
df.columns

In [ ]:
df

In [ ]:
# 행 인덱스/열 이름 지정하여, 데이터프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], 
                   index=['준서', '예은'],
                   columns=['나이', '성별', '학교'])

In [ ]:
df

In [ ]:
# 열 이름 중, '나이'를 '연령'으로, '성별'을 '남녀'로, '학교'를 '소속'으로 바꾸기
df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'}, inplace=True)
# df = df.rename(columns={'나이':'연령', '성별':'남녀', '학교':'소속'})

In [ ]:
df

In [ ]:
# df의 행 인덱스 중에서, '준서'를 '학생1'로, '예은'을 '학생2'로 바꾸기
df.rename(index={'준서':'학생1', '예은':'학생2' }, inplace=True)

In [ ]:
df

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

In [ ]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
df

In [ ]:
# 데이터프레임 df를 복제하여 변수 df2에 저장. df2의 1개 행(row)을 삭제
df2 = df[:]
df2.drop('우현', inplace=True)

In [ ]:
df2

In [ ]:
df

In [ ]:
# 데이터프레임 df를 복제하여 변수 df3에 저장. df3의 2개 행(row)을 삭제
df3 = df
df3.drop(['우현', '인아'], axis=0, inplace=True)
df3

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

In [ ]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
df

In [ ]:
# 데이터프레임 df를 복제하여 변수 df4에 저장. df4의 1개 열(column)을 삭제
df4 = df.copy()
df4.drop('수학', axis=1, inplace=True)
df4

In [ ]:
# 데이터프레임 df를 복제하여 변수 df5에 저장. df5의 2개 열(column)을 삭제
df5 = df.copy()
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

!!! 행 / 열 선택 (중요) !!!

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

In [ ]:
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
df

In [ ]:
# 행 인덱스를 사용하여 행 1개를 선택
label1 = df.loc['서준']    # loc 인덱서 활용
label1

In [ ]:
position1 = df.iloc[0]     # iloc 인덱서 활용
position1

In [ ]:
# 행 인덱스를 사용하여 2개 이상의 행 선택
label2 = df.loc[['서준', '인아']]
label2

In [ ]:
#position2 = df.loc[0]
#position2

In [ ]:
# 행 인덱스의 범위를 지정하여 행 선택
label3 = df.loc['서준':'우현']
label3

In [ ]:
position3 = df.iloc[0:1+1]
position3

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
df

In [ ]:
df.loc[ [0,2] ]

In [ ]:
# '수학' 점수 데이터만 선택. 변수 math1에 저장
math1 = df['수학']
print(type(math1))
math1

In [ ]:
# '영어' 점수 데이터만 선택. 변수 english에 저장
english = df['영어']
print(type(english))
english

In [ ]:
# '음악', '체육' 점수 데이터를 선택. 변수 music_gym 에 저장
music_gym = df[['음악', '체육']]
print(type(music_gym))
music_gym

In [ ]:
# '수학' 점수 데이터만 선택. 변수 math2에 저장
math2 = df[['수학']]
print(type(math2))
math2

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
df

In [ ]:
# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
df

In [ ]:
df.index

In [ ]:
# 데이터프레임 df의 특정 원소 1개 선택 ('서준'의 '음악' 점수)
a = df.loc['서준', '음악']
a

In [ ]:
b = df.iloc[0, 2]
print(b)

In [ ]:
# 데이터프레임 df의 특정 원소 2개 이상 선택 ('서준'의 '음악', '체육' 점수) 
c = df.loc['서준', ['음악', '체육']]
print(c)

In [ ]:
d = df.iloc[0, 2:3]
print(d)

In [ ]:
e = df.loc['서준', '음악':'체육']
e

In [ ]:
f = df.iloc[0, 2:]
f

In [ ]:
# df의 2개 이상의 행과 열로부터 원소 선택 ('서준', '우현'의 '음악', '체육' 점수) 
g = df.loc[['서준', '우현'], ['음악', '체육']]
g

In [ ]:
h = df.iloc[[0, 1], [2, 3]]
print(h)

In [ ]:
i = df.loc['서준':'우현', '음악':'체육']
print(i)

In [ ]:
j = df.iloc[0:2, 2:]
print(j)

### 열추가 : 예제 1-12

In [ ]:
import pandas as pd

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
df

In [ ]:
# 데이터프레임 df에 '국어' 점수 열(column)을 추가. 데이터 값은 80 지정
df['국어'] = 80
df

In [ ]:
df['판다스'] = 100
df

### 행추가 : 예제 1-13

In [ ]:
# 새로운 행(row)을 추가 - 같은 원소 값을 입력
df.loc[3] = 0
df

In [ ]:
# 새로운 행(row)을 추가 - 원소 값 여러 개의 배열 입력
df.loc[4] = ['동규', 90, 80, 70, 60, 70, 100]
df

In [ ]:
# 새로운 행(row)을 추가 - 기존 행을 복사
df.loc['행5'] = df.loc[3]
df

### 원소값 변경 : 예제 1-14

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
df

In [ ]:
df.index

In [ ]:
# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
df.set_index('이름', inplace=True)
df

In [ ]:
df.iloc[0][3]

In [ ]:
# 데이터프레임 df의 특정 원소를 변경하는 방법: '서준'의 '체육' 점수
df.iloc[0,3] = 80
df

In [ ]:
df.iloc[0][3]

In [ ]:
# 데이터프레임 df의 특정 원소를 변경하는 방법: '서준'의 '체육' 점수
df.iloc[0][3] = 85
df

In [ ]:
df.loc['서준']['체육']

In [ ]:
df.loc['서준']['체육'] = 90
df

In [ ]:
df.loc['서준', '체육'] = 100
df

In [ ]:
# 데이터프레임 df의 원소 여러 개를 변경하는 방법: '서준'의 '음악', '체육' 점수
df.loc['서준', ['음악', '체육']] = 50
df

In [ ]:
df.loc['서준', ['음악', '체육']] = [100, 50]
df

### 행, 열의 위치 바꾸기 : 예제 1-15

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
df

In [ ]:
# 데이터프레임 df를 전치하기 (메소드 활용)
df = df.transpose()
df

In [ ]:
# 데이터프레임 df를 다시 전치하기 (클래스 속성 활용)
df = df.T
df

## 3. 인덱스 활용

In [ ]:
# DataFrame() 함수로 데이터프레임 변환. 변수 df에 저장 
exam_data = {'이름' : [ '서준', '우현', '인아'],
             '수학' : [ 90, 80, 70],
             '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100],
             '체육' : [ 100, 90, 90]}
df = pd.DataFrame(exam_data)
df

In [ ]:
# 특정 열(column)을 데이터프레임의 행 인덱스(index)로 설정 
ndf = df.set_index(['이름'])
ndf

In [ ]:
ndf2 = ndf.set_index('음악')
ndf2

In [ ]:
ndf3 = ndf.set_index(['수학', '음악'])
ndf3

In [ ]:
ndf3.index

In [ ]:
# 딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
df

In [ ]:
# 인덱스를 [r0, r1, r2, r3, r4]로 재지정
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
ndf

In [ ]:
# reindex로 발생한 NaN값을 숫자 0으로 채우기
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf2 = df.reindex(new_index, fill_value=0)
ndf2

In [ ]:
# 딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
df

In [ ]:
# 행 인덱스를 정수형으로 초기화 
ndf = df.reset_index()
ndf

In [ ]:
ndf.drop('index', axis=1)

In [ ]:
df.reset_index(drop=True)

In [ ]:
# 딕셔서리를 정의
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

# 딕셔서리를 데이터프레임으로 변환. 인덱스를 [r0, r1, r2]로 지정
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
df

In [ ]:
# 내림차순으로 행 인덱스 정렬 
ndf = df.sort_index(ascending=False)
ndf

## 4. 시리즈 연산

In [ ]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student1

In [ ]:
# 학생의 과목별 점수를 200으로 나누기
percentage = student1 / 200
percentage

In [ ]:
type(percentage)

In [ ]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':100, '영어':80, '수학':90})
student1

In [ ]:
student2 = pd.Series({'수학':80, '국어':90, '영어':80})
student2

In [ ]:
student1 + student2

In [ ]:
# 두 학생의 과목별 점수로 사칙연산 수행
addition = student1 + student2               #덧셈
subtraction = student1 - student2            #뺄셈
multiplication = student1 * student2         #곱셈
division = student1 / student2               #나눗셈

In [ ]:
multiplication

In [ ]:
division

In [ ]:
type(division)

In [ ]:
# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([addition, subtraction, multiplication, division], 
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
result

In [ ]:
# 라이브러리 불러오기 
import pandas as pd
import numpy as np

In [ ]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student1

In [ ]:
student2 = pd.Series({'수학':80, '국어':90})
student2

In [ ]:
# 두 학생의 과목별 점수로 사칙연산 수행 (시리즈 vs. 시리즈)
addition = student1 + student2               #덧셈
subtraction = student1 - student2            #뺄셈
multiplication = student1 * student2         #곱셈
division = student1 / student2               #나눗셈

In [ ]:
addition

In [ ]:
# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([addition, subtraction, multiplication, division], 
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
result

In [ ]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
student1 = pd.Series({'국어':np.nan, '영어':80, '수학':90})
student2 = pd.Series({'수학':80, '국어':90})

In [ ]:
# 두 학생의 과목별 점수로 사칙연산 수행 (연산 메소드 사용)
sr_add = student1.add(student2, fill_value=0)    #덧셈
sr_sub = student1.sub(student2, fill_value=0)    #뺄셈
sr_mul = student1.mul(student2, fill_value=0)    #곱셈
sr_div = student1.div(student2, fill_value=0)    #나눗셈

In [ ]:
# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
result = pd.DataFrame([sr_add, sr_sub, sr_mul, sr_div], 
                      index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
result

In [ ]:
# 라이브러리 불러오기
import pandas as pd
import seaborn as sns

In [ ]:
# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
titanic

In [ ]:
df = titanic.loc[:, ['age','fare']]
df

In [ ]:
df.tail() # df.head()

In [ ]:
type(df)

In [ ]:
# 데이터프레임에 숫자 10 더하기
addition = df + 10
addition

In [ ]:
addition['add'] = addition['age'] +  addition['fare']
addition['sub'] = addition['age'] -  addition['fare']
addition['mul'] = addition['age'] *  addition['fare']
addition['div'] = addition['age'] /  addition['fare']
addition

In [ ]:
# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','fare']]

In [ ]:
df.tail()

In [ ]:
# 데이터프레임에 숫자 10 더하기
addition = df + 10
addition.tail()

In [ ]:
# 데이터프레임끼리 연산하기 (additon - df)
subtraction = addition - df
subtraction.tail()